<!-- <form action="api/create_org" method="POST">
	Organisation Name:<input name="name"></input><br>
	Your Full Name:<input name="employ_name"></input><br>
	Email:<input name="email",type="email"></input><br>
	country:<input name="country"></input><br>
	Address:<input name="address"></input><br>
	Phone Number:<input name="phone",type="number"></input><br>
	Your Employ Id:<input name="employ_id",type="number"></input><br>
	Designation: <input name="designation"></input><br>
	Department: <input name="department"></input><br>

	<button>Create Account</button>
</form> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/templates/css/creat_org.css">
    <title>SIGN UP</title>
</head>
<body>
    <div class="container">
        <div class="title">SIGN UP </div>

		<form action="api/create_org" method="POST">
	<div class="user_details">
		<div class="input_box">
			<span class="details">Organisation Name </span>
			<input name="name" placeholder="Organisation Name" required>
		</div>

		<div class="input_box">
			<span class="details"> Your Full Name </span>
			<input name="employ_name" placeholder=" Your Full Name" required>
		</div>

		<div class="input_box">
			<span class="details">Email</span>
			<input name="email" placeholder="Email" required>
		</div>

		<div class="input_box">
			<span class="details">Country</span>
			<input name="country" placeholder="Country" required>
		</div>

		<div class="input_box">
			<span class="details">Address </span>
			<input name="address" placeholder="Address" required>
		</div> 


		<div class="input_box">
			<span class="details">Phone Number </span>
			<input name="phone" placeholder="Phone number " required>
		</div>

		<div class="input_box">
			<span class="details">Your Employ Id </span>
			<input name="employ_id" placeholder="Your Employ Id" required>
		</div>

		<div class="input_box">
			<span class="details">Designation </span>
			<input name="designation" placeholder="Designation" required>
		</div>

		 <div class="input_box">
			<span class="details">Department </span>
			<input name="department" placeholder="Department" required>
		</div>

		<div class="Button">
			<input type="submit" value="Register">
		</div>

		
		
	</div>
</form>





</div>
</body>
</html>