<!-- <form action="api/add_employ" method="POST">
	Full Name:<input name="name"></input><br>
	Email:<input name="email",type="email"></input><br>
	country:<input name="country"></input><br>
	City:<input name="city"></input><br>
	Phone Number:<input name="phone",type="number"></input><br>
	manager:<input name="manager"></input><br>
	Designation: <input name="designation"></input><br>
	Department: <input name="department"></input><br>
	Are they an admin? : <input name="admin"></input><br>
	Employ id:<input name="employ_id",type="number"></input><br>
	<button>Create Account</button>
</form> -->




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/templates/css/creat_account.css">
    <title>CREATE ACCOUNT</title>
</head>
<body>
    <div class="container">
        <div class="title"> CREATE ACCOUNT</div>

		<form action="api/add_employ" method="POST">
	<div class="user_details">
		<div class="input_box">
			<span class="details">Full Name </span>
			<input name="name" placeholder="Full Name" required>
		</div>

		<div class="input_box">
			<span class="details"> Email </span>
			<input name="email",type="email" placeholder=" Email" required>
		</div>

		<div class="input_box">
			<span class="details">country</span>
			<input name="country" placeholder="Country" required>
		</div>

		<div class="input_box">
			<span class="details">City</span>
			<input name="city" placeholder="City" required>
		</div>

		<div class="input_box">
			<span class="details">Phone Number </span>
			<input name="phone" placeholder="Phone Number" required>
		</div> 


		<div class="input_box">
			<span class="details">Manager </span>
			<input name="manager" placeholder="manager " required>
		</div>

		<div class="input_box">
			<span class="details">Designation</span>
			<input name="designation" placeholder="Designation" required>
		</div>

		<div class="input_box">
			<span class="details">Department </span>
			<input name="department" placeholder="Department" required>
		</div>

		 <div class="input_box">
			<span class="details">Are they an admin? </span>
			<input name="admin"  required>
		</div>

		<div class="input_box">
			<span class="details">Employ id </span>
			<input name="employ_id" placeholder="Employ id" required>
		</div>
		
		
		
		
		<div class="Button">
			<input type="submit" value="Create Account">
		</div>

		
		
	</div>
</form>





</div>
</body>
</html>
