<form action="api/add_employ" method="POST">
	Full Name:<input name="name"></input><br>
	Email:<input name="email",type="email"></input><br>
	country:<input name="country"></input><br>
	City:<input name="city"></input><br>
	Phone Number:<input name="phone",type="number"></input><br>
	manager:<input name="manager"></input><br>
	Designation: <input name="designation"></input><br>
	Department: <input name="department"></input><br>
	Are they an admin? : <input name="admin"></input><br>
	Employ id:<input name="employ_id",type="number"></input><br>
	<button>Create Account</button>
</form>