<form action="api/create_org" method="POST">
	Organisation Name:<input name="name"></input><br>
	Your Full Name:<input name="employ_name"></input><br>
	Email:<input name="email",type="email"></input><br>
	country:<input name="country"></input><br>
	Address:<input name="address"></input><br>
	Phone Number:<input name="phone",type="number"></input><br>
	Your Employ Id:<input name="employ_id",type="number"></input><br>
	Designation: <input name="designation"></input><br>
	Department: <input name="department"></input><br>

	<button>Create Account</button>
</form>